<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379512078837-16neslu9uab7dcsdenn8aq7unibnq6ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379512078837-16neslu9uab7dcsdenn8aq7unibnq6ls</string>
	<key>API_KEY</key>
	<string>AIzaSyAWHG28IKsRWxrrz38LhAAjGvePTEA_G4g</string>
	<key>GCM_SENDER_ID</key>
	<string>379512078837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-vgandam</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-vgandam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379512078837:ios:ff4f126701ce395d24a0bc</string>
</dict>
</plist>